html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  color: inherit;
  font: inherit;
}

a,
input,
button,
textarea {
  &:focus {
    outline: none;
  }
}

input {
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  outline: medium;
  background-color: transparent;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
